<% form_for(@nom) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :animal %><br />
    <%= f.text_field :animal %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
